[submodule "dnsmasq-china-list"]
	path = dnsmasq-china-list
	url = https://code.paulg.it/paulgit/dnsmasq-china-list.git
[submodule "chn-iplist"]
	path = chn-iplist
	url = https://code.paulg.it/paulgit/chn-iplist.git
